.dashboard-controller{
    display:flex;
    justify-content: space-between;

    flex: 1 1 auto;

    .sidebar-controller{
        background: var(--theme);
        color:white;
        flex: 1;
        padding: var(--space-md);
        //text-align: center;
    }

    .content-controller{
        background: white;
        color:black;
        width: 80vw;
    }
}