@media only screen and (max-width:992px){
    :root{
        --space-sm: .35rem;
        --space-md: .5rem;
        --space-lg: 1rem;
        --space-xl: 1.5rem;
        --space-xxl: 2rem;
    
        --font-sm: 12px;
        --font-md: 16px;
        --font-lg: 18px;
        --font-xl: 22px;
        --font-xxl: 28px;
    }
}