//TODO: EXTERNAL IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

html,
body, app-root {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  //height: 100vh;
}

body{
    height: calc(100vh - 113px);
    width: calc(100vw - 131px);
    margin: 113px 0 0 131px;
    //padding: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:focus{
    outline: 0;
}


main{
    height: 100%;
    overflow: hidden;
}

:root{
	--primaryColor: rgb(34, 34, 34);
	--buttonColor: rgb(34, 34, 34);
	--textColor: rgb(34, 34, 34);

	--blue: #007bff;
	--indigo: #6c7293;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #e75d5d;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--teal-dark: #1bc5bd;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--gray-light: #ddd;
	--primary: #5867dd;
	--secondary: #e1e1ef;
	--success: #0abb87;
	--info: #5578eb;
	--warning: #ffb822;
	--danger: #fd397a;
	--light: #f7f7f7;
	--dark: #1a1a27;

	--facebook: #3b5998;
	--google: #dd4b39;

	--font-sm: 12px;
	--font-md: 14px;
	--font-lg: 16px;
	--font-xl: 20px;
	--font-xxl: 25px;

	--space-sm: 0.5rem;
	--space-md: 1rem;
	--space-lg: 2rem;
	--space-xl: 3rem;

	--break-mobile: 764px;
	--break-tablet-min: 768px;
	--break-tablet-max: 919px;
	--break-desktop-min: 992px;
	--break-desktop-max: 1200px;
	--break-desktop-xl: 1320px;

	--font-name: "Montserrat", sans-serif;
}

html, body, div, section, header, footer, h1, h2, h3, h4, h5, h6, span, p, strong, a{
  font-family: 'Open Sans', sans-serif;
}

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';


.content-controller{
    .swiper{
        //width: calc(100% - 397px);
        position: relative;
        left: -25px;
        .swiper-wrapper {
            padding: 1.5em 2.5em 8.5em 3.5em;
        }
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
