.offers {
    .offers_header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
        text-align: end;
        .title {
            h2 {
                color: #fff;
                font-weight: bold;
                margin: 0;
            }
        }
        .all_offers {
            display: flex;
            align-items: flex-end;
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
    .listOffers {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        .card_offers {
            width: 20%;
            .card_header {
                padding-bottom: 15px;
                img {
                    border-radius: 10px;
                    /* max-width: 170px !important; */
                    height: 300px !important;
                    width: 95%;
                }
            }
            .card_content {
                h5 {
                    color: #fff;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                .price {
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}