// Variables

:root {
  --bg-one: #060b1d;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-one) !important;
}


@import './buttons';
@import './header';
@import './banners';
@import './search';
@import './offers';
@import './destinations'